#map
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.schoolselect
    font-size 14px
    padding 3px

.intersection
    background black
    border-radius 6px

.type1
    background red
.type2
    background blue
.type3
    background green
.type4
    background yellow
.type5
    background white
